@import "../libraries/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
$main_color_black: #212121;
$color_red: #e64a19;
$color_white: #eeeeee;

/* begin General style */
body{
	color: #212121;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

*{
	outline: none;
}

h2{
	font-size: 27px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 1.8px;
	text-transform: capitalize;
}
/* end General style */

/* begin Header Main */
.main_header{
	@include clearfix;
	position: relative;
	height: 1000px;
	overflow: hidden;
	background-image: url(../img/bg_header.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	.logo{
		float: left;
		margin-top: 45px;
		a{
			font-size: 18px;
			font-weight: 700;
			line-height: 32px;
			font-weight: 900;
			color: $main_color_black;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	// begin Menu Main Header 
	nav{
		margin-top: 46px;
		display: inline-block;
		float: right;
		z-index: 10;
		ul{
			display: inline-block;			
			li{
				display: inline-block;
				a{
					color: $main_color_black;
					line-height: 32px;
					padding: 10px;
					text-transform: uppercase;
					font-weight: 700;
					text-decoration: none;
					&:hover{
						background-color: rgba(255, 255, 255, 0.5);
					}
				}
			}
		}
		button.menu_mobile{
	    border: none;
	    width: 16px;
	    height: 14px;
	    background-color: transparent;
	    background-image: url(../img/icons/vector_icons_sprite.svg);
	    background-repeat: no-repeat;
	    background-position: -296px -109px;
		}
	}
	// end Menu Main Header
	button.menu_mobile_hidden{
		display: none;
	}
	// begin Content 
	.main_header_content{
		position: relative;
		.banner_main_descr{
	    position: absolute;
	    margin-top: 36%;
	    right: 0;
	    top: 6px;
	    text-align: right;
			h1{
				position: relative;
				font-size: 72px;
				font-weight: 900;
				line-height: 32px;
				text-transform: uppercase;
				&:after{
					content: '';
					display: block;
					position: absolute;
					background-color: #232323;
					width: 138px;
					height: 4px;
					right: 3px;
					bottom: -41px;
				}
			}
			p{
				font-size: 18px;
				line-height: 34px;
				max-width: 550px;
				margin-top: 76px;
			}
			button{
				margin-top: 53px;
				width: 272px;
				height: 49px;
				background-color: transparent;
				font-size: 18px;
				font-weight: 600;
				border: 2px solid #232323;
				transition: 0.5s;
				&:hover{
					background-color: rgba(255, 255, 255, 0.5);
				}
			}
		}
	}		
	// end Content 
}
/* end Header Main */

/* begin Who_Why */
.who_why{
	margin-top: 100px;
	padding-bottom: 110px;
	h2{
		&:before{
			content: '';
			display: block;
	    width: 39px;
	    height: 39px;
			margin: auto;
	    background-image: url(../img/icons/vector_icons_sprite.svg);
	    background-repeat: no-repeat;
	    background-position: -78px -23px;
	    margin-bottom: 12px;
		}
	}
	p{
    text-align: center;
    line-height: 33px;
		margin-left: auto;
		margin-right: auto;
    margin-top: 57px;
    max-width: 936px;
	}
}	
/* end Who_Why */

/* begin Features */
.features{
	background-color: #efefef;
	padding-bottom: 108px;
	.col-md-4{ 	padding: 0 45px 0 65px; }
	h3{
		padding-top: 80px;
		letter-spacing: 1.4px;
		font-size: 18px;
		font-weight: 600;
		&:before{
			content: '';
			display: block;
	    width: 50px;
	    height: 38px;			
	    background-image: url(../img/icons/vector_icons_sprite.svg);
	    background-repeat: no-repeat;
	    margin-bottom: 22px;
		}
		&.clock:before{
	    background-position: -180px -34px;
		}
		&.vector:before{
	    background-position: -286px -34px;
		}
		&.land_working:before{
	    background-position: -182px -105px;
		}
	}
	p{
		line-height: 26px;
		max-width: 289px;
		margin-top: 25px;
	}
}
/* end Features */

/* begin Featured Articles Section */
section.featured_articles{
	margin-top: 96px;
	p.section_descr{
		text-align: center;
		line-height: 33px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 31px;
 		padding: 0 5px;
 		max-width: 775px
	}
	// begin bxSlider
	.slider_featured_articles{
		.slide{
			padding: 64px 67px 50px 36px;
			width: 368px;
			height: 368px;
			background-color: #222222;
			color: $color_white;
		  transform: perspective(1px) translateZ(0);
		  box-shadow: 0 0 1px transparent;
		  position: relative;
		  transition-property: color;
		  transition-duration: 0.3s;
			&:before{
			  content: "";
			  position: absolute;
			  z-index: -1;
			  width: 75px;
		    height: 7px;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  margin-left: auto;
			  margin-right: auto;
			  background-color: $color_red;
			  transform: scaleX(0);
			  transform-origin: 50%;
			  transition-property: transform;
			  transition-duration: 0.3s;
			  transition-timing-function: ease-out;
		   }
		  &:hover:before, &:focus:before,:active:before{
			  transform: scaleX(1);
		  }
			h5{
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 1.1px;			
			}
			h3{
				font-size: 24px;
				line-height: 33px;
				margin-top: 22px;
				letter-spacing: 1.3px;
			}
			.author_articles{
				@include clearfix;
		    position: absolute;
		    margin-bottom: 51px;
		    bottom: 0;
				font-size: 14px;
				font-weight: 600;
				line-height: 22px;
				text-transform: uppercase;
				display: block;
				img{
					float: left;
				}
				.author_articles_desrc{
					letter-spacing: 1px;
					margin-top: 5px;
				  margin-left: 16px;
    			float: left;
				}
			}
		}
	}
	.bx-wrapper {
    border: none;
    margin-top: 99px;
    .bx-prev{
			display: none;
		}
		.bx-next{
	    background-image: url(../img/icons/icons_sprite.png);
	    background-repeat: no-repeat;
			background-position: -245px -99px;
			width: 14px;
			height: 23px;
			right: -83px;
		}
	}	 		
	// end bxSlider
}
/* end Featured Articles Section */

/* begin Clients*/
.clients{
	background-color: #efefef;
	margin-top: 81px;
	padding-top: 58px;
	padding-bottom: 40px;
	.slider_clients{
		.slide{
			border: none;
		}
	}
	.bx-wrapper {
		margin-top: 58px;
    padding-left: 41px;
		background-color: transparent;
		border: none;
		box-shadow: none;
	  .bx-prev{
			display: none;
		}
		.bx-next{
	    background-image: url(../img/icons/icons_sprite.png);
	    background-repeat: no-repeat;
			background-position: -245px -99px;
			width: 14px;
			height: 23px;
			right: -32px;
		}				
	}
}
/* end Clients*/

/* begin Portfolio & Screenshots Section */
section.portfolio_screenshots{
	margin-top: 101px;
	text-align: center;
	p{
		padding: 0 5px;
		max-width: 785px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 29px;
		line-height: 33px;
		&:after{
			content: '';
			position: relative;
			display: block;
			width: 75px;
			height: 7px;
			background-color: $color_red;
			margin: auto;
			left: 0;
			right: 0;
			margin-top: 46px;
		}
	}
	.mixitup_btn{
		background-color: transparent;
		border: none;
		text-transform: capitalize;
		margin: 45px 6px 0;
    letter-spacing: 1.3px;
	}

	// begin bxSlider Nav 
	.bx-wrapper {
		margin-top: 45px;
		border: none;
		box-shadow: none;	
		.bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover{
			background-color: $color_red;
		}
		.bx-pager.bx-default-pager a{
			background-color: #CCCCCC;
		}
	}	
	// end bxSlider Nav 
}
/* end Portfolio & Screenshots Section */

/* begin Quote */
.quote{
	margin-top: 156px;
	font-size: 20px;
	line-height: 38px;
	padding:  80px 0 59px;
	background-color: $main_color_black;
	text-align: center;
	p{
		color: $color_white;
		padding: 0 5px;
		max-width: 856px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4px;
		&:before{
			content: '';
			display: block;
	    width: 17px;
	    height: 16px;
			margin: auto;
	    background-image: url(../img/icons/icons_sprite.png);
	    background-repeat: no-repeat;
	    background-position: -235px -20px;
	    margin-bottom: 12px;
		}
	}
	h4{
		color: #ffffff;
		font-style: italic;
		margin-top: 24px;
	}
}
/* end Quote */

/* begin Team Members Section	 */
section.team_members{
	margin-top: 97px;
	text-align: center;	
	p.team_members_descr{
		margin-top: 39px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 5px;
		max-width: 775px;
		line-height: 33px;
	}
	.team_member_block{
		color: #222222;
		margin-top: 90px;
		h3{
			position: relative;
			margin-top: 50px;
			font-weight: 700;
			text-transform: uppercase;
		}
		p{
			margin-top: 9px;
			font-size: 15px;	
		}
	}
}
/* end Team Members Section	 */

/* begin Facts & Numbers Section */
section.facts_numbers{
	position: relative;
	color: $color_white;
	text-align: center;
	margin-top: 132px;
  padding-top: 94px;
  padding-bottom: 144px;
	background-image: url(../img/bg_facts_numbers.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	&:after{
		content: '';
		position: absolute;
		display: block;
		background-color: rgba(33, 33, 33, 0.71);
		background-size: cover;
		top: 0;
		width: 100%;
		height: 100%;
	}
	h2{ 
		z-index: 1;
		position: relative;
	 }
	.facts_numbers_inner_wrapper{
		position: relative;
		max-width: 830px;
    margin-left: auto;
    margin-right: auto;
		background-color: rgba(255, 255, 255, 0.34);
		padding: 30px 30px 48px;
		margin-top: 61px;
		z-index: 1;
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 75px;
			height: 7px;
			margin: auto;
			left: 0;
			right: 0;
			bottom: -7px;
			background-color: $color_red;
		}
		.facts_numbers_inner_top,.facts_numbers_inner_second{
			.facts_numbers_block{
				padding: 19px 0;
				letter-spacing: 1.7px;
				p{
					position: relative;
					font-size: 27px;
					font-weight: 700;				  
					&:after{
						content: '';
						position: absolute;
						display: block;
						width: 75px;
						height: 4px;
						background-color: #4d4c4b;
						margin: auto;
						left: 0;
						right: 0;
						bottom:-16px;
						transition: 0.5s;
				   }
				  &:hover:after{
					  background-color: $color_red;
				  }					
				}
				h3{
					font-size: 24px;	
					margin-top: 28px;
				}
			}
		}					
	}
}
/* end Facts & Numbers Section */

/* begin Blog Section */
section.blog{
	margin-top: 66px;
	text-align: center;
	article{
		margin-top: 44px;
		.hovereffect {
		  width: 100%;
		  height: 100%;
		  float: left;
		  overflow: hidden;
		  position: relative;
		  text-align: center;
		  cursor: default;
			img{
				margin: auto;
			  transition: all 0.35s;				
			}		
			.overlay {
			  position: absolute;
			  overflow: hidden;
			  width: 80%;
			  height: 80%;
			  left: 10%;
			  top: 10%;
			  border-bottom: 1px solid #FFF;
			  border-top: 1px solid #FFF;
			  transition: opacity 0.35s, transform 0.35s;
			  transform: scale(0,1);
			}		
			&:hover .overlay {
			  opacity: 1;
			  filter: alpha(opacity=100);
			  transform: scale(1);
			}		
			&:hover img {
			  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
			  filter: brightness(0.6);
			  -webkit-filter: brightness(0.6);
			}		
			h2 {
			  text-transform: uppercase;
			  text-align: center;
			  position: relative;
			  font-size: 17px;
			  background-color: transparent;
			  color: #FFF;
			  padding: 20% 0 10%;				
			  opacity: 0;
			  filter: alpha(opacity=0);
			  transition: opacity 0.35s, transform 0.35s;
			  transform: translate3d(0,-100%,0);
			}			
			a{
				position: relative;
			  color: #FFF;
			  padding: 10% 0;
			  opacity: 0;
			  font-weight: 600;
			  filter: alpha(opacity=0);
			  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			  transition: opacity 0.35s, transform 0.35s;
			  -webkit-transform: translate3d(0,100%,0);
			  transform: translate3d(0,100%,0);
			}		
			&:hover a, &:hover p, &:hover h2 {
			  opacity: 1;
			  filter: alpha(opacity=100);
			  -webkit-transform: translate3d(0,0,0);
			  transform: translate3d(0,0,0);
			}							  
		}
		.blog_descr{
			padding: 79px 0 30px;
			h5{
				color: #555555;
				font-size: 14px;	
			}
			h2{
				a{
					margin-top: 7px;
					color: #222222;
					font-size: 24px;
					font-weight: 600;	
					text-decoration: none;
				}
			}
			p{
				color: #333333;
				line-height: 28px;
		    margin-top: 34px;
		    margin-left: auto;
		    margin-right: auto;
		    max-width: 427px;
		    padding: 0px 5px;			
			}
		}
	}
}
/* end Blog Section */

/* begin Blog Post Next Section */
section.blog_next_post{
	margin-top: 97px;
	background-color: #efefef;
	padding: 75px 0 70px;
	// begin bxSlider
	.blog_next_post_slider{
		.slide{
			background-color: transparent;
			&:before{
		    content: '';
		    position: absolute;
		    display: block;
				width: 6px;
				height: 73px;
				background-color: $main_color_black;
		    top: 0;
		    left: 0;
		    margin: auto;
			}
			h5{
				color: #555555;
				font-size: 14px;
				line-height: 33px;
				margin-left: 26px;		
			}
			h2{
				text-align: left;
				font-size: 18px;
				font-weight: 600;
				margin-left: 25px;
				padding-top: 8px;
				letter-spacing: 0.1px;
				a{
					color: #222222;
				}
			}
		}
	}
	.bx-wrapper {
    border: none;
    box-shadow: none;
    background-color: transparent;
		margin-bottom: 0;
		.bx-viewport{
			min-height: 75px;
		}
    .bx-prev{
			display: none;
		}
		.bx-next{
	    background-image: url(../img/icons/icons_sprite.png);
	    background-repeat: no-repeat;
			background-position: -245px -99px;
			width: 14px;
			height: 23px;
			right: -76px;
		}
	}	 		
	// end bxSlider
}
/* end Blog Post Next Section */

/* begin Twitter */
.twitter{
	margin-top: 73px;
	text-align: center;
	color: #222222;
	.twitter_inner{
		&:before{
			content: '';
			position: relative;
			display: block;
			width: 27px;
			height: 22px;
			background-image: url(../img/icons/icons_sprite.png);
			background-repeat: no-repeat;
   		background-position: -232px -58px;
   		margin: auto;
   		margin-bottom: 58px;
		}
		h3{
			font-size: 20px;
			line-height: 38px;
			margin: auto;
	    margin-top: 31px;
	    max-width: 898px;			
		}
		p{
			font-weight: 700;
			margin-top: 25px;
		}
	}
}	
/* end Twitter */

/* begin Footer Main */
footer.footer_main{
	margin-top: 93px;
	background-color: $main_color_black;
	// begin Header Top 
	.header_top{
		border-bottom: 1px solid #464646;	
		padding-bottom: 10px;		
		h2{
			padding-top: 68px;
			color: $color_white;
			font-size: 22px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: left;
			letter-spacing: 0.2px;
		}
		p{
			color: #999999;
			font-size: 14px;
			line-height: 24px;
			margin-top: 22px;
  	  padding-right: 2px;			
		}
		form{
			padding-right: 40px;
			margin-top: 28px;
			position: relative;
			input{
				border: none;
				background-color: transparent;
				color: #999999;
				height: 25px;
				&.form_email, &.form_subject{
					width: 198px;
					border-bottom: 1px solid #464646;
					transition: 0.5s;
					&:focus{
						border-bottom-color: rgba(255, 255, 255, 0.6);
					}							
				}
				&.form_email{
					margin-right: 30px;
				}					
				&.form_message{
					margin-top: 14px;
					width: 100%;
					border-bottom: 1px solid #464646;
					transition: 0.5s;
					&:focus{
						border-bottom-color: rgba(255, 255, 255, 0.6);
					}				
				}
			}
			input[placeholder],input[value]{
				font-size: 14px;
			}
			input[type="submit"]{
				margin-top: 84px;
				display: block;
				padding-left: 0;
				position: relative;
				padding-right: 20px;
			}
			span:before{
		    content: '';
		    display: block;
		    position: absolute;
		    background-image: url(../img/icons/icons_sprite.png);
		    background-repeat: no-repeat;
		    background-position: -228px -105px;
		    z-index: 10;
		    width: 6px;
		    height: 10px;
		    bottom: 6px;
		    left: 40px;
			}		
		}
		/* begin Menu */
		h3{
			padding-top: 73px;
			color: #dddddd;
			font-size: 15px;
			font-weight: 600;
			text-transform: uppercase;
		}
		ul{
			margin-top: 25px;
			li{
				a{
					color: #999999;
					font-size: 14px;
					line-height: 24px;
					text-transform: capitalize;		
					transition: 0.3s;
					text-decoration: none;
					&:hover{
						color: rgba(153, 153, 153, 0.69);
					}		
				}
			}
		}	
		/* end Menu */
	}		
	// end Header Top 

	// begin Header Second 
	.header_second{
		@include clearfix;
		padding-bottom: 40px;
		.copyright{
			margin-top: 25px;
			display: inline-block;
			p{
				color: #aaaaaa;
				font-size: 14px;
				line-height: 24px;
			}
		}
		.terms{
			float: right;
			margin-top: 41px;
			ul{
				li{
					display: inline-block;
					margin-left: 27px;
					a{
						color: #aaaaaa;
						font-size: 13px;
						text-transform: uppercase;						
					}
				}
			}
		}
	}
	// end Header Second 	
}
/* end Footer Main */

/* begin Back to Top Button */
	#back-to-top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
/* end Back to Top Button */